__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.DS_Store
uploads/
separated/
rvc_models/
fairseq/
node_modules/
dist/
build/
*.mp3
*.wav
*.mp4
temp_downloads/
soniqstem-ai/node_modules/
soniqstem-ai/dist/
